.about__button {
  all: unset;
  width: 118px;
  height: 60px;
  border: 2px solid #2f71e5;
  border-radius: 30px;
  color: #2f71e5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.about__button:hover {
  background-color: #2f71e5;
  color: #fff;
}
