.about {
  display: flex;
  font-family: "Inter", sans-serif;
  flex-direction: column;
  justify-content: center;
  padding: 120px 40px;
  max-width: 1440px;
  margin: 10px auto 0px auto;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .about {
    width: 320px;
  }
}
