.footer {
  user-select: none;
  height: 100%;
  padding: 15px 40px;
  display: flex;
  font: 12px;
  font-family: "Inter", sans-serif;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .footer {
    flex-direction: column;
    align-items: center;
    width: 320px;
    position: static;
  }
}
